{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Speed-E-Sales</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}"/>
    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.2/css/halfmoon.min.css" rel="stylesheet" integrity="sha256-RjeFzczeuZHCyS+Gvz+kleETzBF/o84ZRHukze/yv6o=" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<!-- Set the background image -->
<style>
    body {
      background-image: url("{% static 'images/banner_cart.jpg' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
<body class="d-flex flex-column min-vh-100">
    <!-- Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
    <!-- Custom JS page -->
    <script type = "text/javascript" src="{% static 'scripts/functions.js' %}"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Navbar-->
    {% include 'core/navbar.html'%}

    <!--Handle Messages-->
    {% if messages %}
        {% for message in messages %}
            <div id="msg-badge" class="alert alert-success alert-dismissible fade show" role="alert" style="position: fixed; bottom: 30px; right: 20px; z-index: 10;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!--Unique Page HTML-->
    <main class="container-fluid flex-grow-1 p-2 bg-black bg-opacity-50">
    {% block content %}
    {% endblock %}
    </main>
    <!--Website Footer-->
    <footer class="footer text-white text-bg-info text-center py-2">
        Thanks for visiting our shop!
    </footer>
</body>
<script>
$(document).ready(function() {
    // Automatically hide the alert after 5 seconds
    setTimeout(function() {
        $('#msg-badge').alert('close');  // This will trigger Bootstrap's alert dismiss functionality
    }, 5000);  // Adjust the time as needed (in milliseconds)
});
</script>
</html>