{% extends 'core/base.html' %}
{% block content %}
{% include 'core/category_carousel.html' %}
<!--Featured Products-->
<div class="container">
<h1 class="text-center text-white mt-5">Featured Products</h1>
<div id="featrued-products" class="container align-items-c mt-5">
    <!--Product Card-->
    {% for product in products %}
        {% if product.featured %}
            <div class="row mt-5 align-items-center justify-content-center">
                <!--Product Image-->
                <img src="{{product.image.url}}" class="col-12 col-md-6 rounded-5" alt="A photo of {{product.name}}">
                <!--Product Data-->
                <div class="card col-12 col-md-6" >
                    <div class="badge bg-info text-white position-absolute" style="top: 3rem; right: 0.75rem">
                        Featured Product
                    </div>
                    <!--Product Data-->
                    <div class="row card-body">
                        <h5 class="text-start col-12 col-md-8 card-title">{{product.name}}</h5>
                        <h5 class="text-end col-12 col-md-4 card-title">
                            <i>${{product.price}}</i>
                        </h5>
                        <p class="col-12 card-text">
                            {{product.description}}
                        </p>

                    </div>
                    <!-- Add to Cart form -->
                    <form>
                        <div data-mdb-input-init class="form-outline" style="width:em; padding:15px;">
                            <label class="form-label" for="quantityInput">Quantity:</label>
                            <input id="quantityInput" step="1" value="1" min="0" type="number" class="form-control"/>
                        </div>
                        <!-- Other form-->
                        <div data-mdb-input-init class="form-outline" style="width:em;  padding:15px;">
                            <label class="form-label" for="otherInput">OTHER PARAM:</label>
                            <input id="otherInput" step="1" value="1" min="0" type="number" class="form-control"/>
                        </div>
                        <div class="card-body">
                            <button type="button" onclick="addToCart(1)" class="btn btn-default text-bg-warning">Add to Cart</button>
                            <a href="#"><button type="button" class="btn btn-default text-bg-primary">See Details</button></a>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}
