{% extends 'core/base.html' %}
{% block content %}
<h1 class="text-center text-white mt-5 m-3 border rounded p-5">
    Checkout
</h1>
<div class="row m-3">
    <div id="cart-products" class="col-12">
        <h1 class="text-center text-white mt-3">
            Review your order
        </h1>
        <div class="container align-items-c mt-3">
            <!--Check if the cart has items -->
            {%if cart_data %}
            <!-- If the cart has items display them with product cards-->
            <div class="row bg-white rounded mt-5 align-items-center justify-content-center">
                {% for product, qty, item_price in cart_data %}
                        <!--Product Data-->
                        <div class="row mt-3">
                            <h5 class="col-4" id="product-name">{{product.name}}</h5>
                            <p class="text-center col-4">Quantity: {{qty}}</p>
                            <p class="text-end col-4">Total Price: <i>${{item_price}}</i> </p>
                        </div>
                {% endfor %}
                {% else %}
                <h3 class="text-center text-white mt-3">
                    Your cart is empty
                </h3>
                {% endif %}
            </div>
            <!--Check if the cart has items -->
            {%if shipping_info %}
            <!-- If the cart has items display them with product cards-->
            <div class="row bg-white rounded mt-5 align-items-center justify-content-center">

                        <!--Product Data-->
                        <div class="row mt-3">
                            <p class="text-center col-4">dfa:fda</p>
                        </div>

                {% else %}
                <h3 class="text-center text-white mt-3">
                    Your shipping is blank
                </h3>
                {% endif %}
            </div>
            <div class="row bg-white rounded mt-5 align-items-center justify-content-center">
                <div class="row mt-2">
                    <h5 class="col-6 text-start">
                        Subtotal:
                    </h5>
                    <h5 class="col-6 text-end font-italic" id="subtotal">
                        <i>${{subtotal}}</i>
                    </h5>
                </div>
                <div class="row mt-2">
                    <h5 class="col-6 text-start">
                        Estimated Taxes: 
                    </h5>
                    <h5 class="col-6 text-end" id="taxes">
                        <i>+ ${{taxes}}</i>
                    </h5>
                </div>
                <div class="row pt-2 border-top">
                    <h5 class="col-6 text-start">
                        Total:
                    </h5>
                    <h5 class="col-6 text-end" id="total">
                        <i>${{total}}</i>
                    </h5>
                </div>
                <div class="row p-2 justify-content-center text-center">
                    <button type="button" id="confirm" class="btn btn-info text-white mt-2 me-2 col-6">
                        Confirm Order
                    </button>
                    <a href="{% url 'cart' %}"><button type="button" id="edit-cart" class="btn btn-danger mt-2 me-2 col-6">
                        Edit Cart
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js/ajax to deal with button -->
<script>
    //look for button
    $(document).on('click','#confirm', function(inp){
        inp.preventDefault();
        const productId = $(this).data('index');
        const qty = $(`#qty-${productId}`).val();
        console.log( productId)
        $.ajax({
            type: 'POST',
            url: "{% url 'checkout' %}",
            data: {
                id: productId,
                qty:  qty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            
            success: function(json){
                console.log('Added: ', productId)
                document.getElementById('cart-count').textContent = '(' + json.qty + ')'

                //Success badge
                document.getElementById('cart-badge').textContent = "Item added to cart."
                $('#cart-badge').addClass('show');
                $('#cart-badge').addClass('alert-success');
                // Hide after 5 seconds
                setTimeout(function () {
                    $('#cart-badge').removeClass('show');
                    $('#cart-badge').removeClass('alert-success');
                }, 5000);
            },

            error: function(){
                console.log("Error adding to cart")

                //error badge
                document.getElementById('cart-badge').textContent = "Unable to add item to cart."
                $('#cart-badge').addClass('show');
                $('#cart-badge').addClass('alert-danger');
                // Hide after 5 seconds
                setTimeout(function () {
                    $('#cart-badge').removeClass('show');
                    $('#cart-badge').removeClass('alert-danger');
                }, 5000);
            }
        });
    });
</script>

{% endblock %}